* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header, footer {
    background-color: #4fe111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
}